<mat-icon svgIcon="technologies:angular" />
<mat-icon svgIcon="technologies:golang" />

<mat-icon svgIcon="technologies:postgresql" />
<mat-icon svgIcon="technologies:scylla" />
<mat-icon svgIcon="technologies:redis" />
<mat-icon svgIcon="technologies:kafka" />

<mat-icon svgIcon="technologies:firebase" />
<mat-icon svgIcon="technologies:google" />
<mat-icon svgIcon="technologies:jwt" />

<mat-icon svgIcon="technologies:docker" />
<mat-icon svgIcon="technologies:nginx" />

<mat-icon svgIcon="technologies:aws" />
<mat-icon svgIcon="technologies:github" />
