<div class="context-column">
  <p class="large-text">
    Powerful web application to run your study place
  </p>

  <p class="big-text">
    Upload schedule, manage students, teachers and stuff, grade students and more.
  </p>

  <div>
    <button class="register" mat-flat-button color="primary" (click)="registerStudyPlace()">
      Register study place
    </button>
    <section>
      <button class="login" mat-flat-button color="secondary">Login as user</button>
      <button class="signup" mat-flat-button color="primary">Sign Up as user</button>
    </section>
  </div>
</div>

<div class="image-column">
  <img src="pictures/info.jpg" alt="studyum">
</div>
