<div class="context-column">
  <p class="large-text">
    {{'info_header' | translation}}
  </p>

  <p class="big-text">
    {{'info_description' | translation}}
  </p>

  <div>
    <button class="register" mat-flat-button color="primary" (click)="registerStudyPlace()">
      {{'info_register_study_place_button_text' | translation}}
    </button>
    <section>
      <button class="login" mat-flat-button color="secondary" redirectLink="auth" url="login">
        {{'info_signup_as_user_button_text' | translation}}
      </button>
      <button class="signup" mat-flat-button color="primary" redirectLink="auth" url="signup">
        {{'info_login_as_user_button_text' | translation}}
      </button>
    </section>
  </div>
</div>

<div class="image-column">
  <img src="pictures/info.jpg" alt="studyum">
</div>
