<h1>
  {{'benefits_header' | translation}}
</h1>

<ul>
  <app-benefit-item>
    {{'benefits_1_text' | translation}}
  </app-benefit-item>
  <app-benefit-item>
    {{'benefits_2_text' | translation}}
  </app-benefit-item>
  <app-benefit-item>
    {{'benefits_3_text' | translation}}
  </app-benefit-item>
  <app-benefit-item>
    {{'benefits_4_text' | translation}}
  </app-benefit-item>
  <app-benefit-item>
    {{'benefits_5_text' | translation}}
  </app-benefit-item>
  <app-benefit-item>
    {{'benefits_6_text' | translation}}
  </app-benefit-item>
  <app-benefit-item>
    {{'benefits_7_text' | translation}}
  </app-benefit-item>
  <app-benefit-item>
    {{'benefits_8_text' | translation}}
  </app-benefit-item>
  <app-benefit-item>
    {{'benefits_9_text' | translation}}
  </app-benefit-item>
  <app-benefit-item>
    {{'benefits_10_text' | translation}}
  </app-benefit-item>
</ul>
